@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightslategrey;
}

h1 {
    text-align: left;
    margin-left: 20px;
    margin-right: 150px;
}

nav {
    margin-top: 5px;
    font-size: 24px;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
}