@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightslategrey;
    margin: 0;
    padding: 0;
}

i {
    margin: 30px 15px;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin-right: 150px;
    text-align: center;
}

nav {
    margin-top: 5px;
    font-size: 24px;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

body > p {
    background: dimgray;
    text-align: center;
    padding: 5px 30px;
    font-size: 19px;
}

main {
    display: flex;
    flex-direction: row;
}

body > p {
    margin-top: 0;
}

main div {
    background-color: indigo;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 30px;
    width: 27%;
    padding: 20px;
    border-radius: 100px;
    text-align: center;
    color: aliceblue;
}

main div img {
    margin: 0 auto;
}

main div a {
    margin-top: 20px;
    color: aliceblue;
    text-decoration: none;
}

footer {
    background: dimgray;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    margin: 0 40px;
    padding: 10px 40px;
}

#middle {
    margin: 20px 55px;
    margin-bottom: 0;
}

footer p i {
    margin: 0;
}