@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightslategrey;
    margin: 0;
}

h1 {
    text-align: left;
    margin-left: 20px;
    margin-right: 150px;
}

nav {
    margin-top: 5px;
    font-size: 24px;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
}

main li div {
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

main ul {
    flex: 0 0 28%;
    margin: 18px 20px;
    height: 131px;
    background-color: indigo;
    padding: 15px;
    text-align: center;
}

main ul li div {
    text-align: center;
    margin-left: 156px;
    color: aliceblue;
}

main ul li div p {
    margin: 0;
}

/*main {*/
/*display: flex;*/
/*flex-direction: row;*/
/*justify-content: space-between;*/
/*}*/

main ul li {
    color: aliceblue;
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

.bottom {
    margin-left: 140px;
}

body > div {
    margin-left: 15px;
}

footer {
    background: dimgray;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    margin: 0 40px;
    padding: 10px 40px;
}

#middle {
    margin: 20px 55px;
    margin-bottom: 0;
}

footer p i {
    margin: 0;
}

div form input {
    background-color: dimgray;
    border: none;
    color: aliceblue;
}

#submit {
    border-radius: 10px;
    padding: 2px 15px;
    color: aliceblue;
}

main {
    overflow: auto;
}

div > a {
    color: aliceblue;
    background-color: dimgray;
    height: 21px;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 10px;
}

