<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{css/books.css}">
</head>
<body>
<header>
    <h1>Falcon Books</h1>
    <nav>
        <ul>
            <li><a href="books.html">Books</a></li>
            <li><a href="boardgames.html">Board games</a></li>
            <li><a href="puzzles.html">Puzzles</a></li>
        </ul>
    </nav>
</header>
<main>
    <th:block th:each="book : ${books}">
        <ul class="booksList">
            <li th:text="${book.getName()}"></li>
            <li>
                <div>
                    <p>&dollar;</p>
                    <p th:text="${book.getPrice()}"></p>
                </div>
            </li>
            <li th:text="${book.getAuthorsName()}"></li>
        </ul>
    </th:block>
</main>
</body>
</html>