<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<header>
    <i class="fas fa-book-open"></i>
    <h1>Falcon Bookstore</h1>
</header>
<p>Delivery only for 5.00 BGN and maximum for 48 hours!
<i class="fas fa-truck"></i>
</p>
<main>
    <div>
        <p>Here you can find your favourite books</p>
        <p>which you can purchase or you can read online.</p>
        <img src="../images/books.jpeg" width="250px" height="200px">
    </div>
    <div>
        <p>You also can purchase different types of board games.</p>
        <img src="../images/boardgames.jpg" width="250px" height="200px">
    </div>
    <div>
        <p>And puzzles!</p>
        <img src="../images/puzzles.jpg" width="250px" height="200px">
    </div>
</main>
</body>
</html>