<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<header>
    <div>
        <i class="fas fa-book-open"></i>
        <h1>Falcon Bookstore</h1>
    </div>
    <div id="column">
        <p>If we encounter a man of rare intellect, we should ask him what books he reads.</p>
        <p id="author">–Ralph Waldo Emerson</p>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/users/login}">Login</a></li>
            <li><a th:href="@{/users/register}">Register</a></li>
        </ul>
    </nav>
</header>
<p>Delivery only for 5.00 BGN and maximum for 48 hours!
<i class="fas fa-truck"></i>
</p>
<main>
    <div>
        <p>You can find your favourite books!</p>
        <!--<p>which you can purchase or you can read online.</p>-->
        <img src="../static/images/books.jpeg" width="250px" height="200px" th:src="@{images/books.jpeg}"/>
        <a th:href="@{/books}">Take your book from here!</a>
    </div>
    <div>
        <p>And your favourite board games!</p>
        <img src="../static/images/boardgames.jpg" width="250px" height="200px" th:src="@{images/boardgames.jpg}">
        <a th:href="@{/boardgames}">Take your board game from here!</a>
    </div>
    <div>
        <p>And puzzles!</p>
        <img src="../static/images/puzzles.jpg" width="250px" height="200px" th:src="@{images/puzzles.jpg}">
        <a th:href="@{/puzzles}">Take your puzzle from here!</a>
    </div>
</main>
<footer>
    <div>
        <p>Find us in: </p>
        <p><i class="fab fa-facebook-square"></i>
            Facebook - <a href="https://www.facebook.com/FalconIO/">Falcon.io</a></p>
        <p><i class="fab fa-linkedin"></i>
            LinkedIn - <a href="https://www.linkedin.com/company/falconio/">Falcon.io</a></p>
    </div>
    <div id="middle">
        <h1> <i class="fas fa-book-open"></i>
            Falcon Bookstore</h1>
    </div>
    <div>
        <p>Contact us on: </p>
        <p><i class="fas fa-phone-square"></i>
            Phone - +359876543432</p>
        <p><i class="fas fa-envelope-square"></i>
            Email - falcon_bookstore@gmail.com</p>
    </div>
</footer>
</body>
</html>